body {
    background-color: #eeffee;
}
h1 {
    color: white;
    background-color: red;
}
p {
    color: blue;
    background-color: white;
}
#middle{
    color: white;
    background-color: green;
}
